* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
   width: 1200px;
   margin: 0 auto;
}

h1,
h2,
h3 {
   font-size: 1.75rem;
   font-weight: 900;
   margin-bottom: 1.25rem;
}

hr {
   margin-block: 1.5rem;
}

.instanceof {
   a {
      color: blue;
      text-transform: uppercase;
      font-size: 1.5rem;
   }
}

.interfacesDOM {
   .interfacesDOM__components {
      a {
         color: blue;
         text-transform: uppercase;
         font-size: 1.5rem;
         margin-right: 1rem;
      }

      button {
         width: fit-content;
         height: fit-content;
         padding: 0.5rem 1.25rem;
         text-transform: uppercase;
         font-weight: bold;
         font-size: 1.5rem;
         background: transparent;
         border-radius: 0.25rem;
      }
   }
}

.eventsCallbacks {
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;

   .eventsCallbacks__buttonMenu {
      width: fit-content;
      height: fit-content;
      padding: 0.5rem 1.25rem;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5rem;
      background: transparent;
      border-radius: 0.25rem;
      cursor: pointer;
   }

   .eventsCallbacks__nav {
      position: absolute;
      right: 50%;
      top: 50%;
      transform: translate3d(50%, -300%, 0);
      opacity: 0;

      a {
         color: blue;
         text-transform: uppercase;
         font-size: 1.5rem;
         margin-right: 1rem;
      }

      &.eventsCallbacks--active__menu {
         transform: translate3d(50%, -50%, 0);
         opacity: 1;
      }
   }
}
